@media screen and (min-width: 1200px) {
  footer .row{
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 530px) {
  .jumbotron span{
    font-size: 1.6vh !important;
  }
}
     