/* Reset */
ul, ol{
  list-style: none;
}
/* Reset */
/* General */
header, .jumbo, .about, footer, .nav-link{
  color: var(--main-text-color);
}

.portfolio, .contact{
  color: var(--second-text-color);
}

header, .jumbo, h1, h2, h3, h4, h5, h6{
  text-transform: uppercase;
}

h3{
  font-weight: bold;
}

hr{
  width: 100%;
  height: 3px;
  opacity: unset;
  border-radius: 20px;
  background-color: white;
}

/* General */

/* Root */
:root{
  --main-text-color: white;
  --second-text-color: #333333;
  --third-text-color:#1abc9c;
  --header-bg-color: #2c3e50;
  --main-bg-color: #1abc9c;
  --footer-bg-color-top:#3a546d;
  --footer-bg-color-bottom:#2c3e50;
  
}
/* Root */

/* Header */
header{
  background-color: var(--header-bg-color);
  height: 90px;
}

header .nav-link{
  font-size: 1em;
  font-weight: bold;
}

header .nav-link:focus, .nav-link:hover{
  color: var(--main-text-color);
  text-decoration: underline;
}

header h3 p{
  color: var(--main-text-color);
}

header .navbar-toggler-icon{
 filter: invert(1) brightness(1) contrast(1);
 opacity: 1;
}

header button.navbar-toggler{
  border: unset;
}

header button.navbar-toggler:focus{
  box-shadow: unset;
}

/* Header */

/* Jumbo */
.jumbotron{
  background-color: var(--main-bg-color);
}

.jumbotron h2 p{
  color: var(--main-text-color);
}

.jumbotron img{
  max-width: 280px;
}

.jumbotron i{
  color: white;
}

.jumbotron span{
  color: var(--main-text-color);
  text-transform: uppercase;
}

/* Jumbo */

/* Portfolio */

.portfolio .row:nth-of-type(2){
  display: flex;
}

.portfolio .row:nth-of-type(2) .col{
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio img{
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1.5em;
}

.portfolio hr{
  background-color: black;
}

.portfolio p{
  text-align: justify;
}

/* Portfolio */

/* About */
.about{
  background-color: var(--main-bg-color);
}

.btn-np{
  border: 2px solid white;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
}

.btn-np:hover{
  border: 2px solid white;
}
/* About */

/* Contact me */

.contact hr{
 background-color:black;
}

.contact input, .contact textarea{
  border: none;
  border-radius: 0;
  border-bottom: .5px solid var(--footer-bg-color-bottom);
  padding: 10px 0;
}

.contact textarea{
  height: 200px;
}

.contact input:focus, .contact:focus-visible,
.contact textarea:focus, .contact:focus-visible
{
  border: none;
  box-shadow: unset;
  border-radius: 0;
  border-bottom: .5px solid var(--footer-bg-color-bottom);
  padding: 10px 0;
}

.contact .btn{
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

/* Contact me */

/* Footer */
footer{
  max-height: 560px;
}

footer .top{
  background-color: var(--footer-bg-color-top);

}

footer .bottom{
  background-color: var(--footer-bg-color-bottom);
  height: 110px;
}

footer h5, p, address{
  text-align: center;
}

footer .top .row{
  height: 100%;
}

footer .top .row .col-10{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .bottom .row{
 height: 100%;
}

footer p span a{
  color: var(--third-text-color);
  text-decoration: none;
}

footer p span a:hover{
  color: var(--third-text-color);
  text-decoration:underline;
}

footer li a i{
  font-size: 2em;
  border: 1px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 8px;
  margin: 5px 16px 0 0;
  color: var(--main-text-color);
}
/* Footer */