/* Reset */
*,
*::after,
*::before
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ol{
  list-style: none;
}

a{
  text-decoration: none;
  color: unset;
}

input, textarea{
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input[type="text"], textarea{
  border-bottom: .5px solid var(--second-text-color) ;
}

input:focus-visible, textarea:focus-visible{
  outline: none;
}

input::placeholder, textarea::placeholder{
  color: var(--second-text-color);
  opacity: 1;
}

/* Reset */

/* General */
header, .jumbo, .about, footer{
  color: var(--main-text-color);
}

.portfolio, .contact{
  color: var(--second-text-color);
}

header, .jumbo, h1, h2, h3, h4, h5, h6{
  text-transform: uppercase;
}

/* General */

/* Root */
:root{
  --main-text-color: white;
  --second-text-color: #333333;
  --third-text-color:#1abc9c;
  --header-bg-color: #2c3e50;
  --main-bg-color: #1abc9c;
  --footer-bg-color-top:#3a546d;
  --footer-bg-color-bottom:#2c3e50;
  
}
/* Root */

/* Header */
header{
  background-color: var(--header-bg-color);
  height: 90px;
}
/* Header */

/* Jumbo */
.jumbo{
  background-color: var(--main-bg-color);
  min-height: 490px;
}
.jumbo .container
/* Jumbo */

/* Portfolio */

.portfolio .row:nth-of-type(2){
  display: flex;
}

.portfolio .row:nth-of-type(2) .col{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Portfolio */

/* About */
.about{
  background-color: var(--main-bg-color);
  min-height: 500px;
}
/* About */

/* Contact me */
.contact input{
  width: 100%;
  padding: 1em 0;
  font-size: 1em;
}

.contact input[type="submit"]{
  width: unset;
  padding: 1em 1.5em;
  cursor: pointer;
  background-color: var(--third-text-color);
  color: white;
  margin-top: 1em;
  margin-bottom: 50px;
  align-self: flex-start;
}

.contact textarea{
  font-size: 1rem;
}


/* Contact me */

/* Footer */
footer .top{
  background-color: var(--footer-bg-color-top);
}

footer .bottom{
  background-color: var(--footer-bg-color-bottom);
}

footer h5, p, address{
  text-align: center;
}
/* Footer */